name: Test

on:
  push:
    branches:
      - main
    tags: ["*"]
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test-DI:
    name: ${{ matrix.version }} - DI (${{ matrix.group }})
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skipci') }}
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    strategy:
      fail-fast: true
      matrix:
        version:
          - "1.10"  # TODO: 1 (as of 2024.10.08, 1 means 1.11 and we're not ready yet)
          - "lts"
          # - "pre"
        group:
          - Misc/Internals
          - Misc/DifferentiateWith
          - Misc/FromPrimitive
          - Misc/SparsityDetector
          - Misc/ZeroBackends
          - Back/ChainRulesBackends
          - Back/Enzyme
          - Back/FiniteDiff
          - Back/FiniteDifferences
          - Back/ForwardDiff
          - Back/Mooncake
          - Back/PolyesterForwardDiff
          - Back/ReverseDiff
          - Back/SecondOrder
          - Back/SymbolicBackends
          - Back/Tracker
          - Back/Zygote
          - Down/Flux
          - Down/Lux
        skip_lts:
          - ${{ github.event.pull_request.draft }}
        skip_pre:
          - ${{ github.event.pull_request.draft }}
        exclude:
          - skip_lts: true
            version: "lts"
          - skip_pre: true
            version: "pre"
          # lts
          - version: "lts"
            group: Back/ChainRulesBackends
          - version: "lts"
            group: Back/Enzyme
          - version: "lts"
            group: Back/FiniteDiff
          - version: "lts"
            group: Back/Mooncake
          - version: "lts"
            group: Back/PolyesterForwardDiff
          - version: "lts"
            group: Back/SecondOrder
          - version: "lts"
            group: Back/SymbolicBackends
          - version: "lts"
            group: Misc/Internals
          - version: "lts"
            group: Misc/SparsityDetector
          - version: "lts"
            group: Down/Flux
          - version: "lts"
            group: Down/Lux
          # pre-release
          - version: "pre"
            group: Back/ChainRulesBackends
          - version: "pre"
            group: Back/Enzyme
          - version: "pre"
            group: Back/Mooncake
          - version: "pre"
            group: Back/SecondOrder
          - version: "pre"
            group: Misc/Internals
          - version: "pre"
            group: Misc/SparsityDetector
    env:
      JULIA_DI_TEST_GROUP: ${{ matrix.group }}
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: x64
      - uses: julia-actions/cache@v2
      - name: Install dependencies & run tests
        # how to add the local DIT to the DI test env?
        run: julia --project=./DifferentiationInterface -e '
          using Pkg;
          Pkg.Registry.update();
          Pkg.test("DifferentiationInterface"; coverage=true);'
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: ./DifferentiationInterface/src,./DifferentiationInterface/ext,./DifferentiationInterface/test
      - uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          flags: DI
          name: ${{ matrix.version }} - DI (${{ matrix.group }})
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  test-DIT:
    name: ${{ matrix.version }} - DIT (${{ matrix.group }})
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skipci') }}
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    strategy:
      fail-fast: true
      matrix:
        version:
          - "1"
          - "lts"
          - "pre"
        group:
          - Formalities
          - Zero
          - Standard
          - Weird
        skip_lts:
          - ${{ github.event.pull_request.draft }}
        skip_pre:
          - ${{ github.event.pull_request.draft }}
        exclude:
          - skip_lts: true
            version: "lts"
          - skip_pre: true
            version: "pre"
          - version: "lts"
            group: Formalities
          - version: "lts"
            group: Weird
    env:
      JULIA_DIT_TEST_GROUP: ${{ matrix.group }}
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: x64
      - uses: julia-actions/cache@v2
      - name: Install dependencies & run tests
        run: julia --project=./DifferentiationInterfaceTest -e '
          using Pkg;
          Pkg.Registry.update();
          Pkg.develop(path="./DifferentiationInterface");
          Pkg.test("DifferentiationInterfaceTest"; coverage=true);'
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: ./DifferentiationInterfaceTest/src,./DifferentiationInterfaceTest/ext,./DifferentiationInterfaceTest/test
      - uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          flags: DIT
          name: ${{ matrix.version }} - DIT (${{ matrix.group }})
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
